<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registros Beacon</title>
    
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  </head>

  <body>
	  
	  <div class="container">
		  <div class="section">
			  <!-- <button class="btn" id="boton">Json</button> -->
			  <p>A continuación, se presentan todos los registros de Beacons detectados son: </p>
			  <table>
				  <thead>
					  <tr>
						  <th>Mac del Beacon</th>
						  <th>Hora</th>
						  <th>Dia</th>
						  <th>Mes</th>
						  <th>Año</th>
					  </tr>
				  </thead>
				  <tbody id="res">
					  
				  </tbody>
			  </table>
		  </div>
	  </div>
	  
	  <script src="../static/main.js"></script>
  </body>


</html>
